
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  height: 100vh;
  gap: 4px;
}

header {
  background-color: green;
  grid-column-start: 1;
  grid-column-end: 4;
}

aside {
  background-color: blue;
  grid-row-start: 2;
  grid-row-end: 5
}

section.titulo {
  background-color: yellow;
  grid-column-start: 2;
  grid-column-end: 4;
}

section.seccion01 {
  background-color: orange;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  min-height: 85px;
}

section.seccion02 {
  background-color: purple;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  min-height: 85px;
}

section.seccion03 {
  background-color: pink;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  flex-wrap: wrap;
  min-height: 85px;
}

article {
  background-color: lightblue;
  flex-basis: 20%;
}

footer {
  background-color: red;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}

